* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Papyrus, monospace;
}

.App {
  text-align: center;
  /*background-color: #333B45;*/
  min-height: 100vh;
  background-image : url(/background-paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  padding: 40px 0 0 0;
}

.App-link {
  color: #61dafb;
}


.App-title {
  font-size: 50px;
  padding: 25px 0;
}

.Stopwatch-div {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.Timer-div {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .Timers {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .Stopwatch {
    margin-bottom: 40px;
  }
}
.Timer,
.Stopwatch {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid white;
  border-radius: 0px;
  padding: 20px;
  width: 500px;
  /*background-color: rgb(22, 27, 31);*/
  background-image: url("/background-paper.jpg");
  color: aliceblue;
}

.Timer-header,
.Stopwatch-header {
  font-size: calc(40px + 2vmin);
}

ul{
  list-style-type:none;
}

button {
  background-image: url("/old-papyrus.jpg");
  border: solid 1px white;
  color: #000000;
  font-size: 16px;
  margin: 0 15px;
  padding: 5px 10px 2px 10px;
  cursor: pointer;

}
button:hover {
  background-color: #106ba3;
}
.Timer-display button {
  border: solid 1px white;
  color: #ffffff;
  font-size: 16px;
}
.Timer-display button:hover {
  background-color: #106ba3;
}
.Stopwatch-display {
  margin-top: 5px;
  margin-bottom: 20px;
}
.Stopwatch-box {
  margin: auto;
  background-image: url("/background-paper.jpg");
  border: solid 2px aliceblue;
  width: 400px;
  height: 75px;
  font-size: 48px;
  color: aliceblue;
  text-align: center;
  font-family: monospace;
}
.Timer-display {
  margin-top: 5px;
  margin-bottom: 20px;
}
.Timer-box{
  background-image: url("/background-paper.jpg");
  border: solid 2px aliceblue;
  width: 400px;
  height: 75px;
  font-size: 48px;
  color: aliceblue;
  text-align: center;
  font-family: monospace;
}

.Timer-label {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Timer-time {
  font-size: 36px;
  margin: 5px 0;
}

.laps {
  margin: 20px;
  background-image: url("/background-paper.jpg");
}

#logo {
  filter: invert(100%) sepia(23%) saturate(0%) hue-rotate(68deg) brightness(106%) contrast(102%);
  width: 150px;
  height: auto;
  margin: 20px;
}
